body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
    text-align: center;
    margin-top: 50px; 
}
.title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font: bolder;
    color: white;
}
.card-header{
    background-color: rgb(255, 217, 0);
    font-weight: bold;
}
.card-body{
    background-color:rgb(235, 235, 235);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 450;
}